body { font-family: 'Enriqueta', serif; }
h1, h2, h3, h4, h5, h6 { font-family: 'Unica One' }

body {background-color: #fbf9e6;}

#banner .hero-unit  {
  margin: {
    left: -20px;
    right: -20px;
  }
  background-color: #D9E793;
  border-bottom: thick solid #9E719E;
  border-radius: 0;
  h1 { color: #333; }
  h2 { color: #777; }
}

$core_horizontal_margin: 40px;

#core {
  margin: {
    left: $core_horizontal_margin;
    right: $core_horizontal_margin;
  }
}

#core .span6 {
  padding-left: 10px;
  border: {
    left: 2px solid #999;
  }
}

#footer {
  border-top: thick solid #9E719E;
  border-radius: 0;
  background: #D9E793;
}